// Fonts
$-f-barlow: 'Barlow', sans-serif;
$-f-fraunces: 'Fraunces', serif;

// Colors
$-c-soft-red: hsl(7, 99%, 70%);
$-c-yellow: hsl(51, 100%, 49%);
$-c-graphic-cyan: hsl(167, 40%, 24%);
$-c-photo-blue: hsl(198, 62%, 26%);
$-c-footer-logo: hsl(166, 44%, 32%);
$-c-footer-cyan: hsl(168, 34%, 41%);
$-c-footer-background: hsl(167, 44%, 70%);
$-c-dark-blue: hsl(212, 27%, 19%);
$-c-vdarkgray-blue: hsl(213, 9%, 39%);
$-c-darkgray-blue: hsl(232, 10%, 55%);
$-c-gray-blue: hsl(210, 4%, 67%);
$-c-testimonials-gray: hsl(26, 100%, 99%);
$-c-contact-blue: hsl(200, 99%, 71%);
$-c-white: hsl(0, 0%, 100%);